@layer base {
	:root {
		--background: 0 0% 3.9%;

		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;

		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;

		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;

		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;

		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;

		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;

		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;

		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;

		--input: 0 0% 14.9%;

		--ring: 0 0% 83.1%;

		--chart-1: 220 70% 50%;

		--chart-2: 160 60% 45%;

		--chart-3: 30 80% 55%;

		--chart-4: 280 65% 60%;

		--chart-5: 340 75% 55%;

		--btn-primary: #EEEFF2;

		--bg: linear-gradient(to bottom, #7331ea47 0%, #000 55%),
			radial-gradient(
				circle at top right,
				#7331ea33 95%,
				transparent 100%
			);

		--bg-md: linear-gradient(
				to bottom left,
				rgba(115, 49, 234, 0.2) 0%,
				#000 58%,
				rgba(33, 19, 78, 0.39) 89%
			),
			radial-gradient(
				circle at top right,
				rgba(115, 49, 234, 0.1) 0%,
				transparent 55%
			),
			radial-gradient(
				circle at bottom left,
				rgba(115, 49, 234, 0.2) 90%,
				transparent 100%
			);
	}
	.dark {
		--background: 0 0% 3.9%;

		--foreground: 0 0% 98%;

		--card: 0 0% 3.9%;

		--card-foreground: 0 0% 98%;

		--popover: 0 0% 3.9%;

		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;

		--primary-foreground: 0 0% 9%;

		--secondary: 0 0% 14.9%;

		--secondary-foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;

		--muted-foreground: 0 0% 63.9%;

		--accent: 0 0% 14.9%;

		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;

		--destructive-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;

		--input: 0 0% 14.9%;

		--ring: 0 0% 83.1%;

		--chart-1: 220 70% 50%;

		--chart-2: 160 60% 45%;

		--chart-3: 30 80% 55%;

		--chart-4: 280 65% 60%;

		--chart-5: 340 75% 55%;
	}
}
